 body {
        background-color: #DCC7C7;
    }
    .box2 {
       width: 600px;
        height: 800px;
         background-color: white;
        padding: 20px 20px 20px 25px;
        margin: 5px auto;
        
    }
    .img {
        text-align: center;
    }
    
